.stepTwo .form {
  text-align: center;
  padding: 20px;
}

.stepTwo .label {
  text-align: center;
  font-size: 24px;
  padding-right: 10px; 
}

.stepTwo .input {
  padding: 12px 20px;
  font-size: 24px;
}

.stepTwo .button {
  font-size: 24px;
  margin-right: 10px;
}

.stepTwo .error {
  color: red;
}

.stepTwo .valid {
  color: green;
}
