.form {
  text-align: center;
  padding: 20px;
}

.label {
  text-align: center;
  font-size: 24px;
  padding-right: 10px; 
}

.input {
  padding: 12px 20px;
  font-size: 24px;
}

.button {
  font-size: 24px;
}

.error {
  color: red;
}

.valid {
  color: green;
}
